layout {
    default_tab_template {
        // The Default Top Bar
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        
        children
        
        // The Default Bottom Status Bar
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Development" focus=true {
        pane name="Neovim" command="nvim"
    }

    tab name="Terminal" {
        pane name="Zsh" command="zsh"
    }
}
