@theme "/home/Shisones/.config/rofi/themes/Silvery-Onenord.rasi"

configuration {
    drun-display-format: "{icon} {name}";
    show-icons: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    hover-select: true;
    click-to-exit: true;
}
