
* {
    bg0:    #252A33;
    bg1:    #2E3440F0;
    bg2:    #363E4BF0;
    bg3:    #5E81ACF2;
    fg0:    #B9C1D0;
    fg1:    #E5E9F0;
    fg2:    #C8D0E0;
    fg3:    #4C566A;
}

@import "rounded-common.rasi"

element selected {
    text-color: @bg1;
}
