/* base.css */

/* General Waybar Rules */
* {
    border: none;
    font-family: "Inter Semibold","SauceCodeProNerdFontPropo";
    font-size: 13px;
    color: @text_color;
}

tooltip {
    color: @text_color;
    background-color: @tooltip_bg;
    border: 1px solid @tooltip_border;
}

tooltip * {
    margin: 0;
    border-radius: 0px;
    background: none;
}

window {
    font-weight: bold;
}

window#waybar {
    background: transparent;
}
