/* modules-right.css */

.modules-right {
    margin: 10px 10px 0 0;
    padding: 0 0 0 0;
    background-color: @module_bg;
    border: 1px solid @module_border;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 @shadow;
}

#systray {
    background-color: transparent;
    border-radius: 10px;
}

#tray {
    background-color: transparent;
    padding: 0 3px;
}

#sysinfo {
    margin: 0 1px 0 3px;
    background-color: transparent;
}

#cpu {
    background-color: transparent;
}

#memory {
    background-color: transparent;
}

#bluetooth {
    background-color: transparent;
    padding: 0px 6px;
}

#bluetooth:hover {
    background-color: @hover_bg;
    margin: 3px 0px;
    border-radius: 7px;
}

#backlight {
    background-color: transparent;
    padding: 0px 6px;
}

#backlight:hover {
    background-color: @hover_bg;
    margin: 3px 0px;
    border-radius: 7px;
}

#battery {
    background-color: transparent;
    padding: 0px 6px;
}

#battery:hover {
    background-color: @hover_bg;
    margin: 3px 0px;
    border-radius: 7px;
}

#pulseaudio {
    background-color: transparent;
    padding: 0px 6px;
}

#pulseaudio:hover {
    background-color: @hover_bg;
    margin: 3px 0px;
    border-radius: 7px;
}

#network {
    background-color: transparent;
    padding: 0px 6px;
}

#network:hover {
    background-color: @hover_bg;
    margin: 3px 0px;
    border-radius: 7px;
}

#custom-power {
    background-color: @hover_bg;
    color: @power_color;
    border-radius: 7px;
    margin: 3px 3px 3px 0px;
    padding: 1px 4px 1px 4px;
}

#custom-power:hover {
    background-color: @power_color;
    color: @hover_col;
}

#custom-media {
    background-color: transparent;
    padding: 0px 6px;
    margin: 3px 0px 3px 2px;
}

#custom-media:hover {
    background-color: @hover_bg;
    border-radius: 7px;
}

#custom-media-logo {
    background-color: @hover_bg;
    color: @media_color;
    border-radius: 7px;
    margin: 3px 1px 3px 3px;
    padding: 1px 4px 1px 4px;
}

#custom-media-logo:hover {
    background-color: @media_color;
    color: @hover_col;
}


