/* modules-left.css */

.modules-left {
    margin: 10px 0 0 10px;
    padding: 0 0 0 0;
    background-color: @module_bg;
    border: 1px solid @module_border;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 1px;
    background: none;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background-color: @focused_bg;
}

#custom-distro {
    background-color: @hover_bg;
    color: @distro_color;
    border-radius: 7px;
    margin: 3px 0px 3px 3px;
    padding: 1px 4px 1px 4px;
}

#custom-distro:hover {
    background-color: @distro_color;
    color: @hover_col;
}

#custom-name {
    border-radius: 7px;
    margin: 3px 1px;
    padding: 0 6px 0 6px;
}

#custom-name:hover {
    background-color: @hover_bg;
    border-radius: 7px;
    margin: 3px 1px;
}

@keyframes blink-update {
    to {
        color: @power_color;
    }
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0px 0px 0px 3px;
    margin: 1px 0px;
}

#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
    padding-right: 5px;
}

#custom-pacman.updated {
    color: @media_color;
}
