/* modules-left.css */

.modules-left {
    margin-left: 10px;
    padding: 1px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 @shadow;
}

/* Groups */
#system {
    background-color: @module_bg;
    border: 1px solid @module_border;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 @shadow;
}

#tray {
    background-color: white;
    margin-left: 5px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: none;
}


#workspaces {
    padding-right: 3px;
}

#workspaces button {
    padding: 0 1px;
    background: none;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background-color: @focused_bg;
}

#custom-distro {
    background-color: @hover_bg;
    color: @distro_color;
    border-radius: 7px;
    margin: 3px 0px 3px 3px;
    padding: 1px 4px 1px 4px;
}

#custom-distro:hover {
    background-color: @distro_color;
    color: @hover_col;
}

#custom-name {
    border-radius: 7px;
    margin: 3px 1px;
    padding: 0 6px 0 6px;
}

@keyframes blink-update {
    to {
        color: @power_color;
    }
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0;
    margin: 1px 0px;
}

#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
    padding-right: 5px;
}

#custom-pacman.updated {
    color: @media_color;
}
