.floating-notifications.background .notification-row .notification-background {
    box-shadow: 0 0 2px 0 @shadow, inset 0 0 0 1px @polar-night-5;
    border-radius: 12px;
    margin: 5px;
    background-color: @polar-night-1;
    color: @snow-storm-3;
    padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
    padding: 7px;
    padding-top: 5px;
    border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 @aurora-red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
    color: @snow-storm-3;
    margin-left: 10px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
    color: @snow-storm-2;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
    color: @snow-storm-1;
    margin-left: 10px;
    font-family: "Inter Medium"
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius: 7px;
    color: @snow-storm-3;
    background-color: @polar-night-5;
    box-shadow: inset 0 0 0 1px @polar-night-5;
    margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    box-shadow: inset 0 0 0 1px @polar-night-4;
    background-color: @polar-night-4;
    color: @snow-storm-3;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    box-shadow: inset 0 0 0 1px @polar-night-4;
    background-color: @polar-night-2;
    color: @snow-storm-3;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 5px;
    color: @polar-night-1;
    background-color: @aurora-pink;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background-color: @aurora-red;
    color: @polar-night-1;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background-color: @aurora-red;
    color: @polar-night-1;
}
